<div class="index">
  <div class="container-fluid  bottom-border">
    <div class="wrapper">
      <div class="row text-center intro">
      	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
      		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
      			<h2>Все необходимые продукты рядом, когда они нужны</h2>
      			<br>
      			<p>Самые свежие продукты.Постоянное обновление рецептов.Быстрая доставка.Никаких обязательство, потери времени и денег.</p>
      			<br>
      			<button class="btn">
      				Посмотреть меню
      			</button>

      		</div>
      		
      	</div>
      </div>
    </div>
  </div>
  <div class="container-fluid bottom-border">
  	<div class="row text-center intro2">
      	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      		<div class="col-lg-12">
      			<h3>Готовить - это легко и просто!</h3>
      		</div>
      	</div>
    </div>
    <div class="row text-center intro2">
  		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  			<ul class="list-unstyled text-center"> 
				<li><div class="fixedheight"><img src="../images/index/recepies1.png" alt=""></div></li> 
				<li><h4>Новые рецепты каждую неделю</h4></li> 
				<li><p>Попробуйте абсолютно новые рецепты каждую неделю, подготовленные нашей кулинарной командой. Мы подбираем оптимально сбалансированные рецепты для здорового и вкусного питания.</p></li> 
			</ul>
  		</div>
  		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  			<ul class="list-unstyled text-center"> 
				<li><div class="fixedheight"><img src="../images/index/preproportioned1.png" alt=""></div></li> 
				<li><h4>Порционно расфасованные продукты</h4></li> 
				<li><p>Все ингредиенты расфасованы и точно отмеряны, поэтому больше не будет неиспользованных продуктов. Мы вручную отбираем идеальные свежие продукты специально под каждый ваш заказ.</p></li> 
			</ul>
  		</div>
  		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<ul class="list-unstyled text-center"> 
				<li><div class="fixedheight"><img src="../images/index/camera1.png" alt=""></div></li> 
				<li><h4>Удобная и быстрая доставка</h4></li> 
				<li><p>Доставка по всему региону в удобное для Вас время. Ваши продукты будут доставлены в специально завакуумированных упаковках, поэтому еда всегда останется свежей и охлажденной.</p></li>	 
			</ul>
  		</div>
  	  </div>
      <div class="row intro2">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <img src="../images/index/technology.jpg" alt="" class="tech">
        </div>
        <div class="col-lg-5 text-center betterlife">
          <h3>Выбрать и заказать Ваш новый кулинарный шедевр просто</h3>
          <p>Все, что вам нужно, у Вас уже есть. Мы используем передовые технологии с одной простой целью. Мы хотим сделать Вашу жизнь лучше. Мы хотим вернуть магию и наслаждение от приготовления пищи.</p>
        </div>
      </div>
  </div>
</div>